{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    // "plugin:putout/recommended",
    // "airbnb",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
        "putout"
    ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "array-bracket-newline": [
      "error",
      {
        "multiline": true,
        "minItems": 3
      }
    ],
    "array-bracket-spacing": ["error", "always"],
    "array-element-newline": [
      "error",
      {
        "multiline": true,
        "minItems": 2
      }
    ],
    "arrow-body-style": [
      "error",
      "as-needed",
      { "requireReturnForObjectLiteral": true }
    ],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": "error",
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "class-methods-use-this": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "comma-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "comma-style": ["error", "last"],
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": false }],
    "eqeqeq": "error",
    "import/no-extraneous-dependencies": ["off"],
    "indent": [ "error", 4, { "SwitchCase": 1 } ],
    "jsx-a11y/accessible-emoji": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": []
      }
    ],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "mode": "strict"
      }
    ],
    "keyword-spacing": "error",
    "linebreak-style": "off",
    "lines-around-comment": [
      "error",
      {
        "allowBlockStart": true,
        "allowBlockEnd": false,
        "allowObjectStart": true,
        "allowObjectEnd": false,
        "allowArrayStart": true,
        "allowArrayEnd": false,
        "allowClassStart": true,
        "allowClassEnd": false,
        "beforeBlockComment": false,
        "beforeLineComment": false
      }
    ],
    "lines-between-class-members": ["off"],
    "max-len": ["off"],
    "max-params": ["warn", { "max": 5 }],
    "new-parens": "error",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "no-console": "error",
    "no-lonely-if": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxBOF": 0,
        "maxEOF": 0
      }
    ],
    "no-multi-assign": "error",
    "no-multi-spaces": "error",
    "no-negated-condition": "error",
    "no-nested-ternary": "error",
    "no-plusplus": "error",
    "no-trailing-spaces": "error",
    "no-underscore-dangle": "error",
    "no-unneeded-ternary": "error",
    "no-useless-constructor": "error",
    "no-var": "error",
    "no-whitespace-before-property": "error",
    "object-curly-newline": [
      "error",
      {
        "ExportDeclaration": "always",
        "ImportDeclaration": "never",
        "ObjectExpression": {
          "consistent": true,
          "minProperties": 3,
          "multiline": true
        },
        "ObjectPattern": {
          "consistent": true,
          "minProperties": 3,
          "multiline": true
        }
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "one-var-declaration-per-line": ["error", "always"],
    "padded-blocks": ["error", "never"],
    "prefer-const": "error",
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": false
      }
    ],
    "putout/single-property-destructuring": "off",
    "putout/multiple-properties-destructuring": "error",
    "putout/long-properties-destructuring": "off",
    "putout/destructuring-as-function-argument": "error",
    "putout/align-spaces": "off",
    "quotes": ["error", "single"],
    "rest-spread-spacing": ["error", "never"],
    "semi": ["error", "always"],
    "semi-style": ["error", "last"],
    "space-before-blocks": [
      "error",
      {
        "functions": "always",
        "classes": "always"
      }
    ],
    "space-before-function-paren": ["error", "never"],
    "space-infix-ops": "error",
    "spaced-comment": ["error", "always"],
    "switch-colon-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ]
  }
}
